<section class='p-4' id='user-profile'>
  <div class="card mx-auto">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1nLMoUrHQq1IrsIjeE56t5bstlCQt4QLnjQ&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title"><%= @user.username %></h3></h1>
      <h3 class="card-title"><%= @user.email %></h3></h1>
      <%= link_to 'Edit Profile', edit_user_registration_path %>
    </div>
  </div>
  <div>
    <div class="card mx-auto m-3">
      <div class="card-header">Created Events</div>
      <div class="card-body">
        <% @user.created_events.each do |event| %>
          <p class='card-text'><%= event.name %></p>
        <% end %>
      </div>
    </div>
    <div class="card mx-auto m-3">
      <div class="card-header">Upcoming Events</div>
      <div class="card-body">
        <% @user.attended_events.where("date >= ? ", Date.today).each do |event| %>
          <p class="card-text"><%= event.name %></p>
        <% end %>
      </div>
    </div>
    <div class="card mx-auto m-3">
      <div class="card-header">Past Events</div>
      <div class="card-body">
          <% @user.attended_events.where("date < ? ").each do |event| %>
            <p class="card-text"><%= event.name %></p>
          <% end %>
      </div>
    </div>
  </div>
</section>
