  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "eventdark", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <%= link_to 'Create an event', new_event_path, class: 'nav-link active' %> 
          <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, method: :delete, class: 'nav-link active' %> 
          <%= link_to 'Profile', user_path(current_user), class: 'nav-link' %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link my-2 my-lg-0'  %> 
          <%= link_to 'Log in', new_user_session_path, class: 'nav-link' %>
        <% end %>      
      </div>
    </div>
  </nav>